.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.not-found-heading{
    font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: #334155;
}
.not-found-content{
    font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color: #475569;
width: 500px;
}
.not-found-button{
    height: 48px;
width: 164px;
border-radius: 12px;
border: none;
padding: 12px, 24px, 12px, 24px;
background-color: #0284C7;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;

}
.not-found-link{
    color: #FFFFFF;
    text-decoration: none;
}